[2020-01-24 14:40] wochinge opened #11 "check if we can get rid of the fsGroup config in the Helm chart"
You currently have to set the fsGroup to 0 when running the Helm chart on K8s. People tend to forget that. However, we don't need to this for the subcharts. So I guess there is a way around it. We should check how our subcharts are handling this and then handle it the same way.

[2020-01-30 12:44] alwx opened #12 "Idea: disable Ingress by default"
From what I see, most of the helm charts (for example, https://github.com/helm/charts/blob/master/stable/wordpress/values.yaml, https://github.com/helm/charts/blob/master/stable/keycloak/values.yaml) include Ingress but it's disabled by default.

I think it makes perfect sense because
1) it's not necessary
2) it needs to be configured anyway, so enabling it with the default hostname makes no sense

[2020-01-30 13:00] alwx opened #13 "Show the Rasa CE generated password after the installation"
Currently, the following information is shown after the successful `rasa-x-helm` installation:
[code]

We show that the password can be changed but this information is not sufficient (it doesn't include any information about what specific pod you should access and how to do that), so the idea is to show the generated password after the successful installation.

[2020-01-30 13:06] alwx commented on #11
I deployed the helm chart to both minikube and my GKE cluster and set the following `securityContext` settings:

[code]

From what I see, everything works perfectly fine, and the PersistentVolumeClaim is accessible. Here is my log:

[code]

[2020-01-30 13:26] wochinge commented on #11
Can you try uploading a model? And try to explicitly not to set it at all.

[2020-01-30 16:43] alwx commented on #11
Experienced no problems uploading a model.

Logs:
[code]

[code]

[2020-01-30 16:45] wochinge commented on #11
This is weird. I'll also try it and come back to you.

[2020-01-30 16:49] alwx commented on #11
However, it doesn't work when I don't set it explicitly.
In this case, `curl` to upload a model gives 500

[code]

[2020-01-30 16:51] wochinge commented on #11
Yep, we have to check how others are doing it

<img width="921" alt="Screenshot 2020-01-30 at 17 51 10" src="https://user-images.githubusercontent.com/7667273/73471125-29dab100-4389-11ea-9787-be644b3b1c3b.png">

[2020-01-30 16:53] alwx commented on #11
In general, I think setting `fsGroup` to `0` is something we should avoid doing, but we definitely can set the `securityContext` to something like I've shown above.
I see others also do this (see the examples from here: https://github.com/helm/charts) + they allow you to override the security context if you want to.

[2020-01-30 16:56] wochinge commented on #11
Ah, okay, they just set a default (referring to the postgres chart)

[code]

[2020-01-30 16:57] alwx commented on #11
Others set it to something like that:
- https://github.com/helm/charts/blob/master/stable/keycloak/values.yaml#L29

[2020-02-02 19:06] AdamFerguson opened #14 "Problem starting rasa-x default chart in digital ocean kubernetes"
Hi, I've been trying to spin up this helm chart in a digital ocean kubernetes cluster for the last few days but have been unsuccessful. I finally tracked the issue down to a couple things and thought I should share them:

1) For whatever reason, the default app version, which is based off the `.Chart.AppVersion` of 0.24.1 is failing. When I specifically set the tags for `rasax`, `eventService`, an

[2020-02-03 08:42] alwx commented on #11
@wochinge it works with OpenShift as well

[2020-02-03 12:41] wochinge commented on #11
Cool 🎉 Can you create a PR please?

[2020-02-04 13:04] wochinge opened #15 "Event service should use Rasax X version and image unless explicitly specified"
The event service deployment should fall back to use image and tag from rasa-x in case the values were not explicitly set in the values.yml.
Same applies to `nginx`

[2020-02-06 20:07] alwx commented on #11
Done!

[2020-02-10 12:36] wochinge commented on #14
Hi @AdamFerguson ,

thanks for creating the issue!
I think what they do differently, is that they don't specify an initial Storageclass but leave it empty by default (https://github.com/helm/charts/blob/2053ca44331b54888f4189cd210994ac1c8dda9e/stable/postgresql/values.yaml#L10). I remember we had problems with leaving it empty when upgrading. We will re-check it 👍

[2020-02-10 12:39] wochinge commented on #14
Seems they fixed this in https://github.com/helm/helm/issues/6642 👍

[2020-02-10 13:03] #11 closed

[2020-02-10 13:33] #14 closed

[2020-02-10 13:33] wochinge commented on #14
@AdamFerguson Fixed and released 🎉

[2020-02-10 14:06] AdamFerguson commented on #14
@wochinge Thank you!

[2020-02-17 14:20] wochinge commented on #15
We can just use ``--set app-version` so I dont think we need this.

[2020-02-21 14:27] wochinge opened #23 "investigate port replacement for database"
When changing `global.postgresql.servicePort` it does not correctly gets applied to all deployments

[2020-02-21 15:30] wochinge opened #24 "global.storageClass"
Redis, Postgresl, RAbbit are using the key `global.storageClass` to set the storageClass driver for the persistent volume claims. We should also stick to this convention instead of defining an extra key.

[2020-02-21 15:36] wochinge commented on #23
add port to envs

[2020-02-24 08:04] #23 closed

[2020-02-24 08:04] #24 closed

[2020-02-27 09:28] wochinge opened #27 "Add test deployment to CI"
We should to a test deployment as part of the CI. Should be easy once we have the quick install script.

[2020-03-12 16:00] wochinge opened #31 "Upgrade subcharts"
upgrade redis, postgresql, rabbit

[2020-03-12 16:00] wochinge commented on #31
cc @alwx

[2020-03-14 13:03] rafi opened #32 "Decouple rasa/nginx and make it optional in favor of Ingress"
Great work on the chart, big improvements since my older fork, especially around decoupling rabbitmq, redis, rabbitmq to official sub-charts and general normalization. However `rasa/nginx` image deployment is still required as rasa distributed network system proxy.

What's the reason of requiring nginx as a reverse-proxy for the Rasa system? I use the official k8s nginx-ingress controller for all

[2020-03-17 23:17] wochinge commented on #27
@alwx Should I do this together with the Helm chart upgrade so you can focus on the conversation tests?

[2020-03-19 08:49] #27 closed

[2020-03-19 08:49] #31 closed

[2020-03-21 23:54] hankshz opened #35 "nginx instance will be in a crashloop if there's no custom action server"
The following lines in /opt/bitnami/entrypoint.sh of rasa/nginx will run quite a while: (14(curl timeout for me) + 1(sleep)) * 10 = 150

[code]

While by default, the liveness probing (https://github.com/RasaHQ/rasa-x-helm/blob/master/charts/rasa-x/values.yaml#L2340) will probably fail by then. I think the proper fix is probably to add a timeout to curl in entrypoint.sh, but docker image rasa/ngin

[2020-03-22 01:07] hankshz commented on #35
I also noticed that the helm package has a default action server. So ideally curl in check_if_app_container_is_connected should not timeout neither. I'm not an expert on k8s. So I don't understand how host 'app' is supposed to setup and why 'curl --output /dev/null app' fails here. Could anyone help? Thanks!

[2020-03-25 08:32] wochinge commented on #32
HI @rafi ,

thanks for bringing this up and describing your solution 🙏

A few thoughts on this:
- I wonder we should keep the old NGINX service since it might be still needed for deployments which can't use ingresses (e.g. old OpenShift versions) or can't use the nginx ingress controller
- I'd use one ingress with a fanout instead of multiple ingresses. Do you have a requirements / use cases for m

[2020-03-26 09:19] akelad commented on #35
Thanks for raising this issue, @alwx will get back to you about it soon.

[2020-04-01 16:22] erohmensing opened #36 "no duckling url configured"
in order to connect to duckling via ENABLE_DUCKLING=True, you need to give the right url in the configuration file. this should be done automatically in the setup.

[2020-04-02 03:20] rgstephens opened #38 "README updates"
Documentation question

- Should `Chart.appVersion` in the table be `rasax.tag`
- How to add the `--debug` option to the rasa startup args
- How do I add channel code to rasa-production

[2020-04-02 08:54] wochinge opened #39 "Restart Rasa-X and Rasa when configmaps changed"
Kubernetes doesn't automatically restart Rasa X and Rasa Open Source pods when the configmaps they use change. E.g. if you change the configmap (`rasa-configuration-files`) in order to change some channel credentials, the configmap will be updated, but the Rasa X deployment and Rasa Open Source won't see the changes (and hence not get the new channel credentials).

A workaround is to manually rest

[2020-04-06 12:08] wochinge commented on #38
@rgstephens

True, should removed / replaced with `rasax.tag` 👍

Makes sense to also cover in the README even though it's also covered in the docs 👍

This is documented in the linked Rasa X documentation. I think I wouldn't duplicate it here.

[2020-04-06 12:16] wochinge commented on #15
Sasha had a community member running into this: https://github.com/RasaHQ/rasa/issues/5577 Hence I changed to prio to normal cause this is an easy thing to fix and avoid

[2020-04-06 14:30] #36 closed

[2020-04-08 14:20] ArjaanBuijk opened #43 "extraEnvs for eventService"
This will allow use of custom schemas with a postgres database.

See [rasa x changelog](https://rasa.com/docs/rasa-x/rasa-x-changelog/#improvements) for description of the `POSTGRESQL_SCHEMA` environment variable, which needs to be set on the `rasax`, `rasa` and `eventService` services.

Also update rasa x documentation page on kubernetes-openshift.

[2020-04-09 06:52] RielKIM opened #44 "PV not created."
Hi, I have some problem using helm.

When I tested to deploy rasa using kubernetes and helm, I have faced a problem that it wouldn't be created PV.
It tried on minikube.
So, I tested again on google kubernetes service as a tutorial.
It was working well and PV was generated automatically.
So I tried to find a helm script about declaring of PV but, I can't find that.
So, What's problem of this issue

[2020-04-09 12:00] sara-tagger commented on #44
Thanks for the issue, @dakshvar22 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-16 09:53] wochinge commented on #44
Hi @RielKIM ,

which version of the Helm chart did you use? And could please share some error logs?

[2020-04-17 08:14] wochinge commented on #43
done https://github.com/RasaHQ/rasa-x-helm/blob/c17b2bbac77a0580b4b217f6ba20e6eb94bd9b76/charts/rasa-x/values.yaml#L177

[2020-04-17 08:14] #43 closed

[2020-04-17 08:15] wochinge commented on #39
closed by https://github.com/RasaHQ/rasa-x-helm/pull/40

[2020-04-17 08:15] #39 closed

[2020-04-20 05:20] RielKIM commented on #44
Hi,
I solved this issue.
I've create PV manually and restart all pods.
I just spend little bit time for making pv yaml file.
But now it's working well.
Thanks.

[2020-04-20 05:20] #44 closed

[2020-04-20 07:19] wochinge commented on #44
@RielKIM Could you please share your created persistent volume yaml file? Would be great to fix this and share it with everyone.

[2020-04-21 04:59] RielKIM commented on #44
Yes, I can share it.
As you know, google kuber. service, minikube and local kubeadm are not exactly same.
The file what I shared is used on kuber. cluster creating by local kubeadm.

[pv.yaml.txt](https://github.com/RasaHQ/rasa-x-helm/files/4507672/pv.yaml.txt)

The PV file has some problem.
First one is the name in claimRef which typed hard coded.
Second one is using hostPath. So I have plan to c

[2020-04-24 08:24] wochinge commented on #44
@RielKIM Thanks for sharing it. I just read the section `Dynamic provisioning and CSI
` in https://minikube.sigs.k8s.io/docs/handbook/persistent_volumes/  (+some parts of https://platform9.com/blog/tutorial-dynamic-provisioning-of-persistent-storage-in-kubernetes-with-minikube/ ) .

After reading that, I don't see why things shouldn't work out of the box. What was the exact error when running it w

[2020-05-12 09:45] #15 closed

[2020-05-12 10:31] tczekajlo opened #50 "Make imagePullSecrets configurable per service"
Currently, the `images.imagePullSecrets` variable is global and it isn't possible to define pull secrets per service.

A local `imagePullSecrets` variable should override the global one if it's used.

[2020-05-13 10:19] DROMZEE opened #51 "UPGRADE FAILED: "0.28.3" has no deployed releases"
The update is requested in the RASA-X interface
![rasa-upgrade](https://user-images.githubusercontent.com/12269933/81800599-5919c600-9513-11ea-98e7-1d74aa818c1e.png)

but the following commands

returns this erros

[2020-05-13 10:32] sara-tagger commented on #51
Thanks for raising this issue, @chkoss will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-05-13 12:01] erohmensing commented on #51
Hi @DROMZEE , I think this documentation is a bit out of date, can you please try upgrading with these instructions? https://rasa.com/docs/rasa-x/installation-and-setup/openshift-kubernetes/#upgrading-the-deployment

[2020-05-13 12:33] DROMZEE commented on #51
Hi @erohmensing , Thank you very much and my apologies, it was well written in the documentation.
First update the values.yml files with

followed by commands
[code]

[2020-05-13 12:34] #51 closed

[2020-05-13 12:34] erohmensing commented on #51
No worries, it's not your fault, the `Update Rasa X` page linked from Rasa X had the wrong information, we'll update that page :)

[2020-05-13 17:15] m-vdb commented on #13
@alwx isn't this already done in [here](https://github.com/RasaHQ/rasa-x/blob/cdb959b3ee771b18a0761bef08ed2c8e486c29a6/deployment/cluster-deployment-script/get-rasa-x.sh#L353)?

[2020-05-14 07:19] alwx commented on #13
Yes, it's done.

[2020-05-14 07:19] #13 closed

[2020-05-29 07:17] wochinge opened #53 "Support multiple environments for Rasa Enterprise"
Rasa Enterprise supports [multiple deployment environments.](https://rasa.com/docs/rasa-x/enterprise/deployment-environments/).

The Helm chart currently doesn't support it since it is currently hardcoded to `production` and `worker`: https://github.com/RasaHQ/rasa-x-helm/blob/master/charts/rasa-x/templates/rasa-x-config-files-configmap.yaml.

The multiple rasa deployments / services are already c

[2020-07-07 21:13] rgstephens opened #55 "Support full startup command replacement"
Add support for a values.yml option to specify the full startup command line with options. In some cases, users need to run the rasa command from within an APM tool such as newrelic or datadog.

[code]

[2020-07-08 15:56] #55 closed

[2020-07-10 14:36] rgstephens opened #57 "Support all tracker store options"
Need support for other tracker storage options. Recent user requests for `mongodb` and `dynamodb` in particular.

[2020-07-13 11:52] wochinge commented on #53
@ArjaanBuijk how is this going?

[2020-07-13 12:09] tczekajlo opened #59 "Add all parameters to the README file"
Consider if we wanna keep a list of all parameters in the README with description and default value.

[2020-07-13 20:24] Smirl commented on #32
+1 to this. I have a similar situation where we use istio and require `VirtualService`, `DestinationRule`, etc. I don't think these should be included in the chart as they are a bit opinionated (we often include the [raw](https://github.com/helm/charts/tree/master/incubator/raw) chart for this).

However, having an option to disable nginx would be nice. This would then not deploy the Deployment, S

[2020-07-15 09:39] Smirl opened #61 "Rasa X not reachable when using custom port"
# Summary

- When setting `.Values.rasax.port` it will change the rasax service port, but will not change the port rasax is using
- When adding `extraEnvs` to set `SELF_PORT` correctly, the service is hardcoded to point to 5002.
- Should be a simple PR to add `SELF_PORT` always, and update the target port to named like in other services

I will raise a PR

[2020-07-15 12:00] sara-tagger commented on #61
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-07-21 12:54] #61 closed

[2020-07-24 15:29] rgstephens opened #63 "Ingress/Egress Requirements"
Can we document the default ingress/egress requirements in the readme and the chart.  I think this are the defaults (not sure about the `event` service:

All connections are TCP unless indicated otherwise.

| Source            | Destination          |
| ----------------- | -------------------- |
| rasa-production   | rasa-x:5002          |
| rasa-production   | postgresql:5432      |
| rasa-produc

[2020-07-27 08:29] TyDunn commented on #53
@ArjaanBuijk What is the status of this?

[2020-07-27 12:58] tczekajlo commented on #63
@rgstephens the default ingress is a simple, `kubectl get svc/ingress` should help. If I understand correctly the table describes egress, doesn't it?

It looks good to me :)

[2020-07-28 16:35] soloman817 opened #64 "Rasa X logs show rabbit PLAIN login refused: user ‘user’ - invalid credentials"
I got exactly the same issue as this post: https://forum.rasa.com/t/rasa-x-logs-show-rabbit-plain-login-refused-user-user-invalid-credentials/27609

I followed the documentation, added a values yaml file, and replaced my credentials.

Any idea?

[2020-07-28 17:01] soloman817 commented on #64
hmm, looks like if I change the password with only letters, and remove the image tag, now it works. My previous password contains alphabet and numbers and a "#" character.

[2020-07-29 06:00] sara-tagger commented on #64
Thanks for raising this issue, @TyDunn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-07-29 09:19] TyDunn commented on #64
@soloman817 Thanks for creating an issue for this. I'm glad you were able to get it to work. I'll make sure the team looks into it, so future users do not struggle with it as well

[2020-07-29 09:23] soloman817 commented on #64
@TyDunn great. So I follow the docs, I copied a yaml content from the docs which is used to specify the credentials. and I changed ALL `<credentials>` to a password, which contains `#` character, such as `abc#123`. Then it won't work, and the rabbitmq log keeps saying the user "user" is invalid. Later I changed the credentials to only alphabet such as "abcdefg", then this work, hope this can help

[2020-08-03 16:05] wochinge commented on #64
Not sure we can do much about this cc @tczekajlo

[2020-08-03 16:49] soloman817 commented on #64
@wochinge I think it's better to confirm that the password should not contain some special character, then update the document, that is good enough.

[2020-08-03 21:00] rgstephens commented on #63
Thanks

[code]

[2020-08-05 14:01] tczekajlo commented on #64
@wochinge let's use a JSON schema to be sure that value for the `rabbitmq.password` parameter is correct.

[2020-08-13 09:37] #32 closed

[2020-08-31 10:59] loomsen opened #67 "make Redis installation optional"
If we disable redis installation, the charts render unusable. In order to make this work, some changes need to be made to the templates.

If redis installation disabled, there will be a missing key error:

Rendered `rasa-deployments.yaml`:

[code]

[2020-08-31 12:00] sara-tagger commented on #67
Thanks for raising this issue, @tmbo will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-03 20:30] #63 closed

[2020-09-07 10:09] loomsen opened #69 "Rasa-X deployment gets updated, although nothing has changed"
Hi.

I'm trying to understand the reasoning behind the Deployment Strategy type of `Rereate` for rasa-x. As far as I understand, rasa-x is just the user interface. Why do we have to `Recreate` if it's just the UI? It integrates with git anyway to pull the latest changes, no?

Also what's the reasoning behind the checksum parameters? This will almost always trigger a redeploy. It breaks our workflo

[2020-09-07 12:00] sara-tagger commented on #69
Thanks for the issue, @b-quachtran will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-08 18:00] rgstephens commented on #63
This is an update to the above adding `rasa-worker`:

| Source            | Destination          |
| ----------------- | -------------------- |
| rasa-production   | rasa-x:5002          |
| rasa-production   | postgresql:5432      |
| rasa-production   | rabbit:5672          |
| rasa-production   | app:5055             |
| rasa-production   | duckling:8000        |
| rasa-production   | redis:637

[2020-09-17 07:16] tczekajlo opened #70 "Add support for extra volumes"
Add support for mounting extra volumes for the deployments.

[2020-09-17 09:46] tczekajlo commented on #69
@loomsen 👋  The Rasa X or the rasa-x deployment it's not only the UI, but it's also the Rasa X server that servers API (https://rasa.com/docs/rasa-x/api/rasa-x-http-api/). For now, we use a persistent volume in the rasa-x deployment, that's why we use the `Recreate` strategy.

The reasoning behind the checksum parameters is to be sure that deployment is up-to-date if a configuration for it changes

[2020-09-17 10:17] loomsen commented on #69
@tczekajlo Hi and thank you for your answer.

I find it a little hard to follow to be honest. If the configuration changes, it's k8s' job to figure that out and trigger a rollout, no?
Now, when our content creators create stories and push them to git, nothing has actually changed in the rasa-x UI nor the API server. It's just user generated data. But still this will trigger a redeploy if we run `h

[2020-09-17 10:26] #67 closed

[2020-09-17 12:01] tczekajlo commented on #69
Yes, you're right 😄  but if the deployment spec itself didn't change the application keeps running, e.g if a config map has changed, k8s doesn't rollout upgrade.  That's why the `checksum` annotation is used.

Changes pushed to a git repository that is used along with Rasa X shouldn't trigger an upgrade. Please make sure that the values used during the helm upgrade haven't changed, that version of

[2020-09-24 12:48] tczekajlo opened #71 "Add support for the database migration service"
Add support for the database migration service.

[2020-09-30 14:15] #64 closed

[2020-10-02 19:52] #70 closed

[2020-10-07 12:30] tczekajlo opened #76 "Disable automounting of credentials for a service account"
For all services that not need to use a service account token, we should disable automounting of credentials.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#use-the-default-service-account-to-access-the-api-server

[2020-10-08 07:25] tczekajlo opened #77 "Failed to write global config. Error: [Errno 13] Permission denied: '/.config'."
For Rasa Open Source 2.0 in the logs, we can see the following error:

[code]

It looks like we should add proper permissions for writing temporary files. @federicotdn @wochinge Have you seen this error before?

[2020-10-13 11:35] federicotdn commented on #77
@tczekajlo Sorry! Not sure from where this is coming from.

[2020-10-13 13:32] tczekajlo commented on #77
It's something that you can see in the rasa-production and rasa-worker pods. @wochinge Maybe you have seen the error before?

[2020-10-13 14:54] wochinge commented on #77
Haven't seen it before. Seems the imports changed so that it's imported now when starting the server 😬 Guess we should set `MPLCONFIGDIR` in the dockerfiles to some temporary directory

[2020-10-14 08:23] #76 closed

[2020-10-14 10:00] tczekajlo commented on #77
Cool, thanks for the information. I'll give it a 👀  and add additional configuration to get rid of the error 😄

[2020-10-14 11:41] federicotdn commented on #77
@tczekajlo @wochinge just a note (I hadn't realized this before), the two lines in the log that Tomasz shared are completely unrelated. The first one is from OSS `telemetry.py` and the other one from matplotlib.

[2020-10-14 11:51] tczekajlo commented on #77
Thanks for pointing it out. Now I see it, Rasa OOS is trying to write to `~/.config/rasa/global.yml`.

[2020-10-14 19:32] loomsen commented on #69
Hi @tczekajlo! Sorry for the late reply, got dragged into another project.

In theory, this is a good idea. However, if you look at [this line in the rasa-x chart](https://github.com/RasaHQ/rasa-x-helm/blob/f24cd3c82f4771753cd43c9db4c03cdb78fff472/charts/rasa-x/templates/rasa-x-deployment.yaml#L23), it becomes clear why rasa-x is redeployed, even though nothing concerning rasa-x changed.
Our devel

[2020-10-15 08:41] tczekajlo commented on #69
If I got all parts of the workflow that you have it should look like this:

Changes in actions -> Build a new image with actions -> Deploy a new image, the only thing that is changed in the helm values is a tag for the rasa-app image(?)

Did I miss something?

[2020-10-15 14:22] tczekajlo opened #82 "Add CHANGELOG"
Add a workflow that generates a changelog for release.

Things that have to be done:
- generate a file with changelog entries
- attach changelog entries to a GH release
- add information to README file on how to create a changelog entry

[2020-10-15 17:25] loomsen commented on #69
Hi @tczekajlo

Yes, you got that exactly right.

Here's the command I use in the CI/CD pipeline. `$CI_COMMIT_REF_SLUG`, `$deployment_url` and the values don't change. Only things that change are rasa.tag and app.tag.
[code]

The latest installations were using Chart version 1.6.1, but we're not setting a specific chart version, so `latest`.

[2020-10-16 13:37] #77 closed

[2020-10-21 13:42] #69 closed

[2020-10-25 15:50] martinbe1io opened #85 "Error: failed to download "rasa-x/rasa-x" (hint: running `helm repo update` may help)"
Hi,

last time rasa-x charts worked without problems, since today the new installation fails with

[code]

repo update:
[code]

repo list
[code]

helm version
version.BuildInfo{Version:"v3.3.4", GitCommit:"a61ce5633af99708171414353ed49547cf05013d", GitTreeState:"dirty", GoVersion:"go1.15.2"}

generally helm seems to work, tried with a bitnami mysql without issues.

any ideas?

Martin

[2020-10-26 07:00] sara-tagger commented on #85
Thanks for the issue, @TyDunn will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-10-26 09:00] loomsen opened #86 "templating fails for non semantic versions"
Hi,
as mentioned [in this comment](https://github.com/RasaHQ/rasa-x-helm/commit/8c7b46f30074371eaeb95c30356ec87611727c3d#commitcomment-43576081), helm teplating fails if rasa.tag is a commit hash.

[code]

I think this is a very common pattern...

[2020-10-26 09:24] loomsen commented on #86
I just noticed this:

`{{ if semverCompare ">= 1.9.0" .Values.rasa.tag -}}`

It makes having our custom versioning impossible... We should change this too, otherwise we would have to follow your versioning (or at least start with versions > 1.9.0). Also, we are usually having SemVer Tags with a v prepended.

[2020-10-26 09:30] loomsen commented on #86
Actually,

[code]

This seems kind of redundant/unnecessary? Or what's the reasoning behind having the separation and the `if` there at all?

[2020-10-26 10:15] tczekajlo commented on #86
cc @mprazz

The `semverCompare` function based on the [Semantic Versioning 2.0.0](https://semver.org/), the versions that contain `v` are not semantic versions but it still works, https://semver.org/#is-v123-a-semantic-version, so the `v1.0.0` or `v1.0.0-hash` are ok.

Since the [Rasa 2.0.0, the support for `queue` argument is removed](https://rasa.com/docs/rasa/changelog/#200---2020-10-07). We ha

[2020-10-26 10:23] loomsen commented on #86
Right, it also breaks for commit hashes as mentioned. But then this introduces a whole new necessary naming scheme. Like we would always have to have the version of the rasa base image in our tags. So we would end up with

`1.9.0-commithash` in development and `1.9.0-v1.0.0`, assuming our internal tag for the rasa image would be `1.0.0`.
Not very nice imo... Can we think of a better solution here?

[2020-10-26 12:56] tczekajlo commented on #85
@martinbe1io I can't reproduce the error. Can you run the `helm install` command with the `--debug` and `-v 9` flags to check if there is something to help identify your problem?

[2020-10-26 13:20] martinbe1io commented on #85
find the result here

[code]

host is reachable
[code]

but seems to not respond

Martin

[2020-10-26 13:23] martinbe1io commented on #85
sorry for chaos - the hotel plan seems to block the aws location - with the mobile phone hotspot everything ok

[2020-10-26 13:23] #85 closed

[2020-10-26 18:01] rgstephens opened #88 "Add support for Jaeger sidecar annotation and additional endpoints"
Add support for the Jaeger sidecar [annotation](https://www.jaegertracing.io/docs/1.20/operator/#auto-injecting-jaeger-agent-sidecars) used by the [Jaeger Kubernetes Operator](https://www.jaegertracing.io/docs/1.20/operator/).

[code]

Also add the ability to include additional endpoints to the rasa `endpoints.yml` config.

[code]

[2020-10-27 17:47] mprazz commented on #86
Related to [this issue](https://github.com/RasaHQ/rasa-x/issues/3777), though we should evaluate what the best option is

[2020-11-02 16:19] wochinge commented on #86
@loomsen @tczekajlo What do you think of separating `rasa.tag` into `rasa.tag` and `rasa.version`?

How it would work:
- `rasa.version` is mandatory and would be used for our `semverCompare` comparisons.
- If empty, `rasa.tag` would be `{{ .Version.rasa.version}}-full` . If `rasa.tag` is provided, we use the provided `rasa.tag` value.

This would allow:
* to have a backward compatible Helm chart
*

[2020-11-03 08:41] loomsen commented on #86
Hi @wochinge,

I think this could work, yeah. Our images have either a commit hash or a version tag. So I think those boxes are checked. If I understand you correctly, `rasa.version` would just be something like a helper variable, not actually used as an image tag (except for the case where `rasa.tag` is empty).
So what usually would be `latest` would result in `{{ .Version.rasa.version}}-full`?
I

[2020-11-03 10:33] wochinge commented on #86
Exactly. It would be mandatory though so that we can do version comparisons in order to make the helm chart backwards compatible with as many Rasa Open Source versions as possible.

We actually never use the `latest` tag. We always specify a specific version. Or did I misunderstand you?

I fully agree 👍 I think at the moment it's very tiny things we do to ensure backwards compatibility. If it woul

[2020-11-03 12:29] orrshilon opened #94 "Add support for setting custom labels on pods"
The `rasa-x.labels` helper is set on all pods in the chart.
An option to append custom labels to this helper would be nice.

[2020-11-03 13:00] sara-tagger commented on #94
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-03 13:59] tczekajlo commented on #86
Good idea! 👍

[2020-11-03 14:04] #71 closed

[2020-11-04 18:48] #86 closed

[2020-11-10 06:30] armanjindal opened #102 "Nil pointer {}.annotations error - Latest Helm Release"
Hello! I am very new to this, and I am in the process of setting up my CI/CD pipeline. The latest helm chart is giving me a bug. This is happening both in my [GH Actions](https://github.com/armanjindal/ecce-project_education/runs/1373076055?check_suite_focus=true) and on my local machine. I had the older version of the helm chart saved as 'rasa-x' and added the latest under 'rasa-x-new' and ran id

[2020-11-10 07:00] sara-tagger commented on #102
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-11-10 09:23] tczekajlo commented on #102
Hi @armanjindal,

It's not a bug, it's exactly how the helm works.

[code]

You use the `--reuse-values` flag that makes you use computed values of the helm chart version that is installed, not the values built into the chart, that's why you see the error.

You have several options to fix it:
- First of all, it's good to pin the helm chart to a specific version in order to avoid similar cases in t

[2020-11-10 14:06] armanjindal commented on #102
Hi @tczekajlo. Thanks so much for your reply. That makes sense. Fixed the problem with the steps you recommended. Cheers!

[2020-11-10 14:44] #102 closed

[2020-11-13 16:02] tczekajlo commented on #94
@orrshilon Thanks for opening the issue. It sounds like a good idea. The rasa-x helm chart is open-source and if you feel like contributing to the project feel free to do so 🚀

[2020-11-17 20:06] hakob17 opened #104 "Unable to upgrade rasa-x via Server quick install script"
When running server quick install script for updating, i.e. `curl -s get-rasa-x.rasa.com | sudo bash` I get an error

Error: UPGRADE FAILED: template: rasa-x/templates/rasa-x-service.yaml:8:16: executing "rasa-x/templates/rasa-x-service.yaml" at <.Values.rasax.service.annotations>: nil pointer evaluating interface {}.annotations

[2020-11-18 07:00] sara-tagger commented on #104
Thanks for the issue, @JustinaPetr will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-20 15:27] tczekajlo commented on #104
Hi,

You can upgrade your helm chart version by executing the following commands:

1. `helm get values rasa-x -o yaml > values.yaml`
2. `helm upgrade rasa-x rasa-x/rasa-x -f values.yaml`

and then

3. `curl -s get-rasa-x.rasa.com | sudo bash`

https://github.com/RasaHQ/rasa-x-helm/issues/102

[2020-11-22 18:12] hakob17 commented on #104
Hi this worked for me, thanks a lot

[2020-11-30 10:21] #104 closed

[2020-11-30 10:24] tczekajlo opened #109 "Write helm template tests"
Write template and integration tests for the helm chart.

The library that can be used for it: https://github.com/gruntwork-io/terratest

[2020-12-01 11:09] shubhamc183 opened #110 "Feature: extraManifests support"
We can have a way to specify the `extraManifests` so that we can create extra resources like Secret which can be used by `existingSecret` from the chart only.

For example.
`extraManifests.[]` : https://github.com/airflow-helm/charts/tree/main/charts/airflow#docs-kubernetes---additional-manifests

Implementation: https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/extra-manif

[2020-12-01 13:00] sara-tagger commented on #110
Thanks for the issue, @degiz will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-02 13:23] degiz commented on #110
@tczekajlo Could you please take a look?

[2020-12-09 12:17] tczekajlo commented on #110
@shubhamc183 Thanks for the issue. I see your point but I think that the rasa-x helm chart is not a perfect place to do this kind of additional operations. There're better ways to apply extra manifests before the chart installation, e.g. [helmfile ](https://github.com/roboll/helmfile#hooks) has the `hooks` feature that can be you to apply additional resources.

[2020-12-11 13:28] ahmedTouati opened #111 "How to disable authentication in rasa-x"
Hello, we want to integrate OAuth authentication using Nginx ingress to authenticate to rasa-x and so we need to disable the default login form in rasa-x. However, there is no available option in the rasa-x helm to do so.

[2020-12-14 07:00] sara-tagger commented on #111
Thanks for the issue, @koaning will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-16 12:17] amn41 commented on #111
hi @ahmedTouati - thanks for the feature request! Unfortunately this isn't something we support. We do have SSO support and role-based access control but only as Rasa Enterprise features.

[2020-12-16 14:35] #110 closed

[2020-12-18 08:39] tczekajlo opened #112 "Automatically create a PR to update Rasa X version if a new version is available"
Current, `appVersion` has to be updated manually. This process should be more automatic, it can be done by automatic creation of a PR with an update if a new Rasa version is available.

[2021-01-06 11:18] #82 closed

[2021-01-06 13:17] tczekajlo opened #117 "Use nginx-ingress for k3s"
Currently, the e2e tests don't create an ingress resource, the access to the Rasa X goes via a Kubernetes service.
We wanna test the ingress configuration as well.

To do:
- setup k3s with ingress-nginx
- install Rasa X with enabled ingress
- run tests that use the ingress resource

[2021-01-11 11:05] #112 closed

[2021-01-11 11:49] tczekajlo commented on #94
Resolved by https://github.com/RasaHQ/rasa-x-helm/pull/108

[2021-01-11 11:49] #94 closed

[2021-01-12 00:21] rgstephens opened #120 "Invalid Semantic Version"
If the `values.yml` for `rasax.tag` contains an invalid semantic version the deployment fails with the error below. Docker hub contains many versions that don't follow semantic versioning: `latest`, `master`, `0.35.0a5`, etc.

[code]

[2021-01-13 00:36] b-quachtran opened #124 "Ingress' annotationsRasaX not getting applied"
When running `helm template`, the annotations specified under `annotationsRasaX` in `Ingress:` don't get applied.

Ingress Annotation:
[code]

`helm template` output:
[code]

When these annotations get moved to `annotations:` in `Ingress:`, however, they do work:

[code]

`helm template` output:
[code]

[2021-01-13 00:38] b-quachtran commented on #124
@tczekajlo Not sure why this is happening, since it looks like the annotations are defined here: https://github.com/RasaHQ/rasa-x-helm/blob/master/charts/rasa-x/templates/rasa-x-ingress.yaml#L18

[2021-01-13 08:46] tczekajlo commented on #124
@b-quachtran everything looks ok. The `rasa-x/templates/ingress.yaml` is used only if the Nginx image is used, all configuration for Nginx is included in the image.

For the nginx-ingress configuration are used two other templates, the `rasa-open-source-ingress.yaml` and `rasa-x-ingress.yaml`

[code]

[code]

[2021-01-13 17:58] b-quachtran commented on #124
Ah, that makes sense! Thanks for taking a look and for the info 😄

[2021-01-13 17:58] #124 closed

[2021-01-15 11:18] loomsen opened #130 "Deployment of production and worker fails due to latest alpine image"
# short description
Hi,

our deployments start failing due to the latest update of the alpine image, which is used for the init-db container.

Production and worker pods remain in Init, because the init-db container doesn't finish.

# long story

The change must have been introduced between `alpine@sha256:3c7497bf0c7af93428242d6176e8f7905f2201d8fc5861f45be7a346b5f23436` and `alpine:latest` which a

[2021-01-15 11:20] tczekajlo opened #131 "Update API version for Ingress"
Current API versions that are used for Ingress templates are deprecated. The templates should be updated that a deployment uses the correct API version for Ingress that is compatible with a version available on a Kubernetes cluster where the rasa-x helm chart was installed.

[code]

[2021-01-15 13:00] sara-tagger commented on #130
Thanks for raising this issue, @rctatman will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-01-16 06:39] kaustuk commented on #130
@loomsen  Even we are facing this issue. Thanks giving workaround. Will use it until this is fixed

[2021-01-16 07:14] kaustuk commented on #130
@rctatman The fix I was think was would be adding `not` condition [here](https://github.com/RasaHQ/rasa-x-helm/blob/f35216d3c24e540143f71c6b2f973282936fc72c/charts/rasa-x/templates/_helpers.tpl#L275). Here assuming that going forward `alpine` would give zero for `nslookup rasa-x-db-migration-service-headless`.

@rctatman do you think that would fix the issue? Should I open a PR for this or are the

[2021-01-16 08:50] kaustuk commented on #130
@loomsen Can you try updating you chart version to latest i.e `1.7.14`? It works for me. Earlier I was facing issue in chart version `1.7.13`.

From comparing diff between 1.7.14 to 1.7.13 you will see that in 1.7.13 was using `alpine:latest` and in `1.7.14` now uses `alpine:3.12.3`. I guess that latest version of alpine have changed definition of nslookup so we might have faced that issue

[2021-01-18 09:48] HotThoughts opened #134 "Do not bump Rasa X version multiple times"
The GitHub-action bot will bump the Rasa X version everytime it checks, resulting in duplicated branches and pull requests. We want to check if such a branch or PR already exists, so that no more duplicated branches and PR.

[2021-01-25 03:40] rgstephens commented on #130
`1.17.14` chart with latest alpine does address this issue.

[2021-01-25 03:40] #130 closed

[2021-01-25 07:21] loomsen commented on #130
Sorry, got dragged into another topic, yeah, it works. Thank you.

[2021-01-25 15:24] #131 closed

[2021-01-25 17:05] HotThoughts commented on #120
Does the support non-semantic version approach for Rasa Open Source in #97 apply to Rasa X too?

[2021-01-25 17:25] #117 closed

[2021-01-26 14:35] #134 closed

[2021-02-02 08:29] #120 closed

[2021-02-02 12:20] melindaloubser1 opened #142 "Quick install script: nginx initialProbeDelay results in nil pointer"
Running the quick-install script results in:

[code]

[2021-02-02 14:46] melindaloubser1 commented on #142
Appears to have been a k3s configuration issue; can't reproduce.

[2021-02-02 14:46] #142 closed

[2021-02-03 16:54] #111 closed

[2021-02-11 13:05] nakshathru opened #143 "service type is not configurable for rasa and rasa-x services [default type is ClusterIP]"
I'm trying to use ingress instead of nginx reverse proxy, since my requirement involves multiple rasa namespaces and use of aws-load-balancer-controller.

But aws-load-balancer-controller failed to setup because default service type is ClusterIP and it has to be NodePort type.
I'm able to change it to NodePort for rabbitmq service using the existing values.yml file
But the configurable service typ

[2021-02-12 07:00] sara-tagger commented on #143
Thanks for the issue, @degiz will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-02-18 18:49] rgstephens opened #145 "Add an OpenShift Helm Chart Repo CRD"
Add the Helm Chart Repo CR for Rasa-X as described in OpenShift [docs](https://docs.openshift.com/container-platform/4.6/cli_reference/helm_cli/configuring-custom-helm-chart-repositories.html)

[2021-02-20 00:16] rgstephens opened #146 "Issue with tag"
If you do a helm install with no values file, the app will use the latest rasa-x-demo repo. For example, `rasa-x-demo:0.35.0`.

If you then upgrade the helm install with a `values.yml`:

[code]

The chart will try to pull `my/app:0.35.0` instead of `my/app:latest`.

Docs and use of `tag` versus `version` are confusing. Was there a mid-course change in this chart at some point in how these two valu

[2021-02-22 18:11] rgstephens opened #147 "Add support for volumeName & volumeMode to values.yml"
Would like to specify `volumeName` and `volumeMode` in `values.yml`

[code]

[2021-02-25 18:10] rgstephens commented on #147
use `existingClaim`

[2021-02-25 18:10] #147 closed

[2021-03-02 18:06] rgstephens opened #153 "Add option to disable livenessProbe and readinessProbe"
There seem to be more issues with livenessProbe and readinessProbe not working in OpenShift environments. Would like an option to disable them completely. Even if this is only useful for troubleshooting.

[2021-03-03 18:28] rgstephens opened #154 "Not able to override fsGroup for rabbit"
Tried the following to set fsGroup to null but it didn't work:

[code]

[2021-03-05 14:15] mvielkind opened #157 "Support custom ingress/egress network policies in Helm Chart"
Allow the Helm Chart to define custom network policies for service ingress / egress settings.

[2021-03-09 10:19] degiz commented on #143
cc @tczekajlo

[2021-03-10 01:26] rgstephens commented on #143
@tczekajlo I think we should move `port` to `service.port` along with allowing specification of service `type`, `nodePort` and `loadBalancerIP`.  WDYT?

I'm putting together a PR that supports `port` & `service.port` with priority given to `service.port`.

[2021-03-10 09:48] tczekajlo commented on #143
Hmm, exposing directly rasa and rasa-x services won't work. We add additional configuration to the nginx/or ingress-nginx that is required by the services and exposing them without this configuration will make that at some point they don't work correctly.

If we wanna add the only support for a service type that's ok, but if users will want to use it to expose services directly it won't work witho

[2021-03-10 17:10] rgstephens opened #160 "Add Support for NetworkPolicy"
Add support for `NetworkPolicy` configuration similar to [bitnami Postgres](https://github.com/bitnami/charts/tree/master/bitnami/postgresql) chart.

But instead of the bitnami `allowExternal`, for highly secure environments where all internal namespace connections are disabled by default, need to add the ability generate explicit ingress & egress policies for each of the required connections.  Fo

[2021-03-10 20:19] rgstephens commented on #143
@tczekajlo can you be more specific?  I made changes to the `rasa-config-files-configmap.yaml` and `rasa-deployment.yaml` and currently have a working install on this branch.

[2021-03-10 22:04] rgstephens commented on #157
I missed the fact that @mvielkind had added this already and opened #160 with comments. Closing this one.

[2021-03-10 22:04] #157 closed

[2021-03-11 06:30] rgstephens opened #164 "Separate Ingress configs for rasa-x and rasa-production"
Support ability to enable and set host values for Ingress separately for `rasax` and `rasaProduction`.

[code]

[2021-03-11 14:20] tczekajlo commented on #143
I think that the ingress-nginx configuration shows well what has to be added to an ingress/proxy/whatever is used to get it to work.

https://github.com/RasaHQ/rasa-x-helm/blob/main/charts/rasa-x/templates/rasa-x-ingress.yaml
https://github.com/RasaHQ/rasa-x-helm/blob/main/charts/rasa-x/templates/rasa-open-source-ingress.yaml

For rasa-x we have to add rewrite for paths and add headers:

[code]

a

[2021-03-11 21:21] ahmedTouati opened #165 "Cannot connect rasax to AWS RabbitMQ"
I’m facing some issues when i try to connect rasax to AWS RabbitMQ, rasa event service can create new Broker in AWS RabbitMQ but rasa-worker and rasa-production cannot connect to it. I’m using rasax helm chart, here is the logs from rasa-worker and rasa-production:

[code]
Here is my endpoint Configuration:
[code]

Rasa event service logs:

[code]
Versions:

[code]

[2021-03-12 07:00] sara-tagger commented on #165
Thanks for raising this issue, @TyDunn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-03-12 14:02] tczekajlo commented on #143
@rgstephens next week I'm off, if you need any input please ping @RasaHQ/infrastructure

[2021-03-12 14:08] tczekajlo commented on #160
@rgstephens I assume we do this for all services not only for the event-service?

[2021-03-12 14:28] rgstephens commented on #165
@ahmedTouati, please post questions on our [forum](https://forum.rasa.com). I'll respond here but if you have follow-up questions please post there and call me out as `@stephens`.

Thanks for the detailed info about your config and log. The following message sounds like your AWS RabbitMQ is requiring SSL. You should confirm that this is the case and review the AWS log if you need more info.

`ACCE

[2021-03-12 14:28] #165 closed

[2021-03-12 15:02] rgstephens commented on #143
After looking through the endpoints, it seems like the main one that needs to be available if someone isn't using the nginx image or ingress is `/app/ws` which is used by `rasa-production` and `rasa-worker`.

To finish up the PR I'll add notes in the README about the additional configuration requirement.

[2021-03-16 15:37] rgstephens commented on #160
Yes, it would generate for all combinations of service ingress/egress

[2021-03-24 15:46] tczekajlo commented on #160
👍🏻

[2021-03-30 03:56] collinarnett opened #170 "running "VolumeBinding" filter plugin for pod "rasa-x-1617074480-postgresql-0": pod has unbound immediate PersistentVolumeClaims"
Hello,

I'm trying to setup rasa x on a local minikube deployment and I'm using Lens to inspect the start up.
I'm getting the error:
[code]

when installing the helm chart. I'm pretty new to Kubernetes and Helm so I'm unsure of how to diagnose this.

[2021-03-30 06:00] sara-tagger commented on #170
Thanks for the issue, @JustinaPetr will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-03-30 18:52] rgstephens commented on #143
@tczekajlo I think this is ready and that there is no additional config requirement that needs to be documented.

[2021-04-01 23:23] rgstephens commented on #160
Implementing it as follows:

[code]

If you enable the policy, it will create 36 `NetworkPolicy` configs:

[code]

If any of the following are `false`, it will not generate NetworkPolicies associated with that service:

[code]

[2021-04-02 16:07] rgstephens commented on #170
This looks like it prometheus related based on what I see [here](https://github.com/prometheus/alertmanager/issues/2362). Are all of the pods running and can you connect to Rasa X?

[2021-04-07 06:42] maxbischoff opened #173 "Default nginx liveness and readiness probes broken"
In 4d1a1f19a19d5c20a30126deffe669a1c71ae9e8 the chart renders invalid kubernetes manifests when using default nginx probes (i.e. when `nginx.livenessProbe.command` or `nginx.readinessProbe.command` is unset).

Our installation pipeline for the chart failed with error `Error: Failed to render chart: exit status 1: Error: unable to build kubernetes objects from release manifest: error validating "":

[2021-04-07 12:00] sara-tagger commented on #173
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-04-07 12:09] erohmensing commented on #173
Haha, good job sara-tagger -- closed in #172, thank you for the PR!

[2021-04-07 12:09] #173 closed

[2021-04-14 14:51] ferenc-hechler opened #174 "Configure external Custom Action Server"
This is a feature request.

As described [here](https://rasa.com/docs/rasa-x/installation-and-setup/customize#adding-a-custom-action-server) it is possible to deploy a custom action server by setting the docker image and tag in the values.yml "app.name" and "app.tag".

Instead of deploying a given docker image we would like to configure the custom action server endpoint to use an already existing

[2021-04-14 15:00] ferenc-hechler commented on #154
We had problems with Open-Shift and the user-/group-ids.
The trick was to set securityContext.enabled to false:

[code]

Also we set the value on the commandline "--set securityContext.fsGroup=null"

The PostgreSQL is not installed with the rasa-x helm chart (postgresql.install=false).

Instead of, we used the bitnamy/postgresql chart with the following values:
[code]

Maybe this might also help o

[2021-04-14 16:23] stevelam20 opened #175 "my-release app issue with no pod, deployment and service running"
my-release app pod, deployment and service are not responding

![event error for my-release app](https://user-images.githubusercontent.com/460801/114744730-966c8080-9d80-11eb-8797-ee56ec154010.JPG)
![service has no endpoint addresses](https://user-images.githubusercontent.com/460801/114744751-9b313480-9d80-11eb-8e90-07bb4b8d13d7.JPG)
![my-release-app pod is empty](https://user-images.githubusercon

[2021-04-15 06:00] sara-tagger commented on #174
Thanks for raising this issue, @degiz will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-04-16 11:59] nakshathru opened #178 "Configurable Model Storage Location For Rasa X Helm Chart Deployment"
Rasa provides the flexibility of using AWS S3 or any other cloud service as model storage by updating endpoint.yml file.
But it is not available while deploying via Rasa X helm chart in EKS.

`        name: "RASA_MODEL_SERVER"`
`            value: {{ $.Values.rasax.scheme }}://{{ include "rasa-x.host" $ }}.{{ $.Release.Namespace }}.svc:{{ $.Values.rasax.port }}/api/projects/default/models/tags/{{

[2021-04-16 12:00] sara-tagger commented on #178
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-04-19 11:21] erohmensing commented on #175
fixed in https://github.com/RasaHQ/rasa-x-helm/pull/176, thanks for the contribution

[2021-04-19 11:21] #175 closed

[2021-04-19 17:14] rgstephens opened #179 "Add support for multiple RabbitMQ Queues"
The chart currently supports a single RabbitMQ queue name in `rasa.rabbitQueue`. Need to add support for multiple queues.

[2021-04-21 13:54] mbricef opened #181 "docker.io/library/nginx:0.28.6: not found at install"
[code]
result at this error (seen in ubectl describe pod -n rasa rasa-nginx) :

[code]

[2021-04-21 13:59] erohmensing commented on #181
Do you have an existing `values.yml` file? the tag for the image should be filled with this value otherwise: https://github.com/RasaHQ/rasa-x-helm/blob/main/charts/rasa-x/values.yaml#L480

[2021-04-21 13:59] erohmensing commented on #181
Is this for a new install or an upgrade?

[2021-04-21 14:25] mbricefree commented on #181
We use an old version of Rasa : 1.10.4 Which we would like not to upgrade for the moment. Regarding this fact our current rasaX version is 0.28.6. When resetting RasaX today with the server quick install script, we faced this issue for the first time.

We do not have an existing values.yml.
Could the issue come from this part of the install script? :

  command=("${command[@]}"
    "--set rasax.ta

[2021-04-21 16:18] erohmensing commented on #181
Yes exactly, you should be safe to not manually set that tag anymore, as we're using the standard nginx image instead of building one from rasa. I think that will work with the older rasa version 🤔 Otherwise you may need to stick to the older version of the chart.

[2021-04-26 09:59] hsm207 opened #184 "How to use different image for rasa worker and rasa production?"
Is there a way to set `values.yml` so that a different image is used for the rasa production and rasa worker deployment?

The use case is that I want to train my bot on a GPU and the current solution for this is to use a [custom dockerfile](https://github.com/RasaHQ/rasa/issues/7950).

[2021-04-26 21:30] ferenc-hechler commented on #174
I created pull request https://github.com/RasaHQ/rasa-x-helm/pull/185 for this issue. Local tests were successfull.

[2021-04-29 09:46] kronos-cm opened #187 "Comment changes in the values file"
Correcting the comments of `livenessProbe` and `readinessProbe`

Example from:
[code]
to:
[code]
And make the order consistent so that always `livenessProbe` appears first across services

[2021-04-29 12:00] sara-tagger commented on #187
Thanks for the issue, @joejuzl will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-05-03 18:04] tczekajlo commented on #174
Resolved by #185

[2021-05-03 18:04] #174 closed

[2021-05-04 06:26] ferenc-hechler commented on #174
THX for your support @tczekajlo

[2021-05-04 10:21] BlueCog opened #191 "Nginx CrashLoopBackOff with 1.10.0"
Hello,

I'm trying to deploy Rasa-X to our OpenShift environment.

This OpenShift environment is closed down, so i had to import all the relevant images and replaced the pointing to this images by a helm override file.

The deployment seems to work allright with an exeption of the nginx pod:

I'm getting the following log output:

`/docker-entrypoint.sh: /docker-entrypoint.d/ is not empty, will at

[2021-05-04 10:56] BlueCog commented on #191
Note:

Following the tips described here: https://number1.co.za/openshift-will-not-run-your-container-as-a-root-user/

I was able to deploy the nginx pod succesfully.

So ar rebuild with a custom Docker file was needed:

[code]

For me this seems like a workaround?

[2021-05-04 12:00] sara-tagger commented on #191
Thanks for raising this issue, @desmarchris will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-05-04 12:54] kronos-cm commented on #187
I am closing this issue as the fix has been merged thanks @tczekajlo

[2021-05-04 21:07] desmarchris commented on #191
@BlueCog this seems fine as a workaround, what user are you running everything else as?

[2021-05-06 07:42] BlueCog commented on #191
Hey @desmarchris thanks for getting back to me.

I'm deploying with an empty `securityContext`

This results in: `runAsUser: 1002880000 fsGroup: 1002880000 seLinuxOptions: s0:c54,c9`

[2021-05-14 08:43] #187 closed

[2021-05-14 08:47] tczekajlo commented on #184
👋🏻 Currently, there is no option to define a diffrent image for rasa production and rasa worker.

[2021-05-14 09:04] #184 closed

[2021-05-17 10:22] erohmensing opened #193 "forwarding rules for /socket.io and /webhooks/ are incorrectly forwarded"
We currently use [this annotation](https://github.com/RasaHQ/rasa-x-helm/blob/main/charts/rasa-x/templates/rasa-open-source-ingress.yaml#L16) to match paths that come after the `/core` prefix and forward them to the same subpath on the rasa-prod container, without the `/core`.

However it seems that in adding a rewrite rule for this path, we've screwed with the default `proxy_pass` behavior of `/s

[2021-05-17 13:47] #193 closed

[2021-05-18 22:00] rgstephens commented on #179
It looks like the this may not be necessary based on the rasa [code](https://github.com/RasaHQ/rasa/blob/327851b94191c49634d10c6e653920b0396a9f7e/rasa/core/brokers/pika.py#L99) you may be able to specify `rasa.rabbitQueue="queue_1,queue_2"`. @desmarchris is trying this out.

[2021-05-19 09:03] loomsen opened #195 "Latest Release breaks updates / installations into the same namespace"
Hi,

the latest update to the helm chart  (1.10.2) breaks our deployment. It seems like a `helm delete` did not delete the `rasa-x-rasa-open-source` ingress definition, as it is not part of the helm chart anymore, thus breaking the installation due to the dangling object in the same namespace.
It was the same for an upgrade as well as a fresh installation after running `helm delete` in an already

[2021-05-19 12:00] sara-tagger commented on #195
Thanks for the issue, @ancalita will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-05-19 14:14] melindaloubser1 opened #197 "upgrade RabbitMQ chart version"
Upgrading to RabbitMQ subchart version >7.0.0 introduces breaking changes, but also useful options.
https://artifacthub.io/packages/helm/bitnami/rabbitmq/7.8.0#to-7-0-0
An upgrade would require warning users when updating the helm chart since it could disrupt their existing deployment

[2021-05-19 16:15] desmarchris commented on #179
@rgstephens this doesn't seem to work. Defining this in my `values.yml`:
[code]
just passes as one queue. When I hit this:
[code]
the name that is returned in the response is this:
[code]

[2021-05-31 19:05] lynndisco opened #203 "Can't use the quick-install script to install Rasa X"
When running server quick install script , I get an error

[code]

[2021-06-01 06:00] sara-tagger commented on #203
Thanks for the issue, @yennycheung will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-06-01 09:39] HotThoughts commented on #203
The problem is mostly like to be the connection with the https://rasahq.github.io/ website.

Do you have proxy server/firewall enabled or anything that blocks you from accessing https://rasahq.github.io/?

Also, you have an existing cluster in your k3s. Have you followed the [instruction for installing Rasa X in an existing cluster](https://rasa.com/docs/rasa-x/installation-and-setup/install/quick

[2021-06-01 09:39] #203 closed

[2021-06-01 13:44] mvielkind opened #204 "Customize resources for the initContainer"
Allow defining custom resources for the `initContainer` within `values.yaml`.

[2021-06-01 13:47] mvielkind opened #205 "Provide custom URL for Duckling server"
Allow an `existingUrl` parameter to point Duckling to an existing Duckling service that is running. This is similar to the behavior of the action server where you can choose not to install a new action server image and use an existing URL instead.

[2021-06-07 07:16] tczekajlo commented on #160
The PR #171 is merged.

[2021-06-07 07:16] #160 closed

[2021-06-09 11:53] erohmensing commented on #179
@desmarchris this is closed by this right? https://github.com/RasaHQ/rasa-x-helm/pull/198

[2021-06-09 13:30] desmarchris opened #207 "Document how to use deployment along with Kafka"
Currently, you must add a new section to the values file as well as edit a config map to enable Kafka. This is shown here: https://github.com/RasaHQ/rasa-x-helm/pull/163/files

**Definition of Done**
As a user I can view documentation on how to enable Kafka using helm values.

[2021-06-11 18:39] desmarchris commented on #191
hey @BlueCog I actually ran into this issue this week on OpenShift.

I was able to run the standard nginx image by changing my SCC to `anyuid`

Regarding the other option:

if you set nginx install to false and ingress to true, this will take advantage of haproxy in openshift. the trick here is to make sure the domain name you provide for Rasa X matches the openshift nomenclature. For me this was:

[2021-06-16 10:02] MuriukiPM opened #209 "Option to override container name"
All of the deployments of the helm chart e.g `rasa-worker` etc create/use containers named `rasa-x` (example below). But this makes it inconvenient when tracking logs e.g sorting by container_name on GKE with `resource.labels.container_name`.
[code]

Could the option to override the container name please be supported in the `values.yml` so as not to have to manually edit?

[2021-06-16 12:00] sara-tagger commented on #209
Thanks for raising this issue, @jupyterjazz will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-06-17 13:18] #205 closed

[2021-06-17 13:59] pierluigilenoci opened #211 "rasa-x and event-service livenessProbe and readinessProbe failed"
Hello,
we installed RasaX with this chart and this values.yaml file:

[code]

We have a standalone RabbitMQ and Redis instance running in the same namespace.

All pods work fine except `rasa-x` and `event-service` in CrashLoopBack with these error messages:
[code]

Logs from `rasa-x` pod:
[code]

No logs from `event-service`.

Pods:
[code]

`rasa-x` events:
[code]

`event-service` events:
[code]

[2021-06-17 14:53] pierluigilenoci commented on #211
Note: If I disable the network policy for the chart rasa-x is able to run.

[2021-06-18 06:00] sara-tagger commented on #211
Thanks for the issue, @JustinaPetr will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-06-21 11:16] pierluigilenoci commented on #211
@justinaPetr are there any news?

[2021-06-22 06:59] pierluigilenoci commented on #211
@tmbo could you please take a look?

[2021-06-24 19:19] tczekajlo commented on #211
It looks like `kube-probe` doesn't have access to the pods because of the network policy, try to add CIDR/IP address that `kube-probe` uses to communicate with the pods network.

See https://github.com/RasaHQ/rasa-x-helm/blob/main/charts/rasa-x/values.yaml#L754

[2021-06-25 13:54] virtualroot commented on #197
In https://github.com/RasaHQ/helm-charts we are aiming for RabbitMQ subchart v8.12.2.
Migrating to the new helm chart is going to be disrupting by itself + RabbitMQ upgrade.

@melindaloubser1 Do you think is worth keeping this issue open? Or do we better leave it for the next Helm chart gen? 🚀

[2021-06-25 14:32] melindaloubser1 commented on #197
I think close it and leave it for next gen👍

[2021-06-25 14:32] #197 closed

[2021-06-28 08:23] pierluigilenoci commented on #211
@tczekajlo I tried, still not working.

Values:
[code]

NP:
[code]

K8s events:
[code]

Any other suggestions?

[2021-07-01 08:52] pierluigilenoci commented on #211
@tmbo I really need help figuring out how to proceed, could you please take an look?

[2021-07-09 13:30] pierluigilenoci commented on #211
@virtualroot @tczekajlo @melindaloubser1 @HotThoughts @mvielkind could someone give us some hints to how to solve this?

[2021-07-09 18:43] tczekajlo commented on #211
@pierluigilenoci What CNI do you use in a cluster where you an issue? Additionally, are you sure that an src address for requests that come from kube-probe is within the 10.4.0.0/16 CIDR?

[2021-07-12 08:03] pierluigilenoci commented on #211
@tczekajlo the cluster is a hosted AKS instance (so Azure CNI with Calico for network policies, fully managed by Microsoft).

I am sure because it is the CIDR of the VNET of the cluster and we have some network policies (for example for kube-dns) that work perfectly.

[code]

[2021-07-12 15:18] tczekajlo commented on #211
@pierluigilenoci The last version of the helm chart (2.0.1) includes several missing network policies, please check it out if the latest version will solve your issues.

[2021-07-13 09:19] nyejon commented on #211
@tczekajlo Could this have something to do with that we are using an external redis instance and in the various deployment.yaml files there is:

https://github.com/RasaHQ/rasa-x-helm/blob/a1c529cf503468611a758c20b6fd92d4e3ce40e7/charts/rasa-x/templates/event-service-deployment.yaml#L88

With "if redis.install"

So if redis is not installed, the redis password is not provided to the various deploym

[2021-07-13 11:55] pierluigilenoci commented on #211
I tried version 2.0.1 and this is the result:
[code]

In my first comment, you can see the configuration we are using to deploy Rasa-X

[2021-07-13 14:10] pierluigilenoci commented on #211
I tried to do another experiment. I have removed the livenessProbe and the readinessProbe from the pod deployments. Pods are now not killed by Kubernetes but they crash on their own.

[code]

Note: Redis and RabbitMQ are installed separately. At the bottom the logs of the pods that are restarted.

Pod: `db-migration-service`
[code]

Pod: `rasa-x`
[code]

Pod: `event-service`, `rasa-worker` and `ra

[2021-07-14 08:05] tczekajlo commented on #211
Currently, the network policies in the rasa-x-helm chart don't support external services. If you use external services such as Redis, RabbitMQ, and so on and you want to use network policies, you have to create them and add them on your own.

Also, you can set the `debugMode` parameter to `true`, then you should see more information in the logs.

[2021-07-15 14:22] pierluigilenoci commented on #211
@tczekajlo whereas the chart, in theory, supports the use of external `Redis` and `RabbitMQ` when this problem will be solved with the Network Policy?

It would be enough to allow to configure in some way this label:
https://github.com/RasaHQ/rasa-x-helm/blob/1dd6ad168c8e7ce6dd7a3513fcaf939ff584ddac/charts/rasa-x/templates/network-policy.yaml#L284-L285

To get around the problem, I still added the

[2021-07-19 10:24] pierluigilenoci commented on #211
@tczekajlo a small update related to the tests performed. We found that an additional network policy is missing because pods can't make SSH calls to GitHub to download repositories.

[code]

[2021-07-19 12:14] pierluigilenoci commented on #211
@tmbo @tczekajlo @JustinaPetr I would love to have feedback. ❤️

[2021-07-21 07:25] tczekajlo commented on #211
@pierluigilenoci I'll be able to take a look at it probably next week

[2021-07-27 14:53] kaiogu opened #221 "Liveness probe fails if "@" present in RabbitMQ password"
My containers have been restarting because curl seems to be parsing the password incorrectly.

These are the events I'm getting:
![image](https://user-images.githubusercontent.com/32000243/127176197-0efbfa7e-c3c4-477d-9beb-485f3ae34005.png)

While this is the password:
[code]

So the password is parsed in a strange way and the part before the @ is interpreted as the user and the part behind it is

[2021-07-28 06:00] sara-tagger commented on #221
Thanks for the issue, @dakshvar22 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-07-29 13:12] pierluigilenoci commented on #211
@tczekajlo did you find the time to take a look at it?

[2021-08-22 18:38] csd-oss opened #226 "Unable to start using k3s"
I am trying to install Rasa X and Rasa using https://rasa.com/docs/rasa-x/installation-and-setup/install/quick-install-script#embedded-cluster-installation

I have Ubuntu 20.04 server with 2vCPU and 4GB Ram.
Loged in as root.

After I do:

I get infinite

loading screen.
And postgres, redis and rabbit can't start
![image](https://user-images.githubusercontent.com/58642039/130366097-d1b99a99-9f13-4

[2021-08-23 06:00] sara-tagger commented on #226
Thanks for the issue, @desmarchris will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-08-23 19:02] desmarchris commented on #226
looks like a k3s issue with a latest release: https://github.com/k3s-io/k3s/issues/3704

they just shipped an update. So you can try with the updated version, or downgrade to an older k3s version

[2021-08-24 01:03] RASADSA commented on #226
problem is related to bitnami postgers helmchart - will take a look

[2021-08-24 07:24] csd-oss commented on #226
Yes, thanks. Uninstalling rasa, installing latest version of k3s and installing rasa again helped.

[2021-08-24 07:24] #226 closed

[2021-08-24 20:00] #53 closed

[2021-08-30 09:12] #221 closed

[2021-08-30 20:42] b-quachtran commented on #207
@RasaHQ/infrastructure-squad Are there any plans for supporting this out of the box in the near future?

[2021-08-31 12:42] #153 closed

[2021-09-01 10:34] pierluigilenoci commented on #211
@tczekajlo it's been 76 days since I opened the issue and 42 days since you said you'd take a look at it. Is there any news?

[2021-09-01 10:36] pierluigilenoci commented on #211
Maybe @RASADSA or @rgstephens can help out?

[2021-09-01 13:10] RASADSA commented on #211
@pierluigilenoci  if i understand all correct you run all under AKS with calico CNI.
The provided Network Policies inside the rasa x helmchart are meant as a blueprint to map out your own network policies. On certain setups they will work out of the box - not on all.
Since there are a lot of CNI's out there in the kubernetes field and a lot of have different usage of the network policies its impos

[2021-09-01 13:40] pierluigilenoci commented on #211
@RASADSA if you read all my comments on the issue I have explicitly documented all the problems of the current chart. Making a PR to correct the problem should be simple and above all "generalizable". There are no fixes that are specific to the cloud implementation.

[2021-09-01 14:18] RASADSA commented on #211
@pierluigilenoci i recommend to wait for @tczekajlo return - since im not into that topic and i dont want to dismiss your effort.

per general every Kubernetes Adminstrator is accountable for their network policies - not the helm chart creator.

https://kubernetes.io/docs/concepts/services-networking/network-policies/

https://rancher.com/blog/2019/2019-03-21-comparing-kubernetes-cni-providers-fla

[2021-09-02 08:58] pierluigilenoci commented on #211
@RASADSA I understand the concern in introducing changes to NPs but, as is customary, just release the chart with an appropriate version change, a note for breaking changes, and if you really want to be conservative a migration guide.

As I wrote my additions to NPs are safe and unrelated to implementation. They only open more ports starting from a condition of "all traffic blocked to and from the

[2021-09-06 09:18] melindaloubser1 commented on #207
You can add additional endpoints to `rasa.additionalEndpoints`, so it's not necessary to modify the config map. I just realized this after opening the PR above 😅

[2021-09-06 12:31] tczekajlo commented on #207
Not really, I mean you can already do this with the rasa helm chart as @melindaloubser1 mentioned.

For the rasa-x-helm chart, we won't add it, the goal that we have is to separate rasa-x from rasa oss.

[2021-09-28 13:33] pierluigilenoci commented on #211
@RASADSA @tczekajlo any update?

[2021-10-04 13:44] melindaloubser1 commented on #207
I'd suggest we close this since it's already supported/possible at least.

[2021-10-04 13:52] desmarchris commented on #207
More of my customers use Kafka than Rabbit, so I think it should be a first class citizen. We shouldn't have to send them examples on how to enable Kafka

[2021-10-04 14:11] melindaloubser1 commented on #207
That's a fair point, but RabbitMQ is a service started by the helm deployment itself, while Kafka is always external. I think (@tczekajlo correct me if I'm wrong) that is why rabbit got its own section, while Kafka endpoints have to be added in a subsection.

[2021-10-04 17:59] desmarchris commented on #207
are you sure? I didn't think this was the case

[2021-10-04 19:04] melindaloubser1 commented on #207
well now I'm not sure anymore 😅 But I guess since it requires forking the helm charts to make kafka a service as part of the deployment, I'd never seen anyone do it that way.

[2021-10-04 21:20] desmarchris commented on #207
I still think there'd be value in adding a simple `kafka` section like we have in OSS endpoints instead of adding them to a generic area

[2021-10-05 08:40] melindaloubser1 commented on #207
In that case we can re-open the closed PR since that's what it did - @tczekajlo since it's not really a functional change and it seems it would be more intuitive for users, is that fine?

[2021-10-05 10:03] RASADSA commented on #211
@pierluigilenoci
after a longer discussion internally we will not extend the network policies and close the issue.
We dont have the capacity to support multiple CNI's Network Policies and make sure that they always work.
On the Topic on your own networkpolicies out of the box:
- Fork the repo and push your network policies as new separate file which would make pulls from the main repo possible and

[2021-10-05 10:03] #211 closed

[2021-10-05 10:29] pierluigilenoci commented on #211
@RASADSA I accept your choice but do not agree with it.

I am quite disappointed but certainly not surprised.
For me, an open-source project should be managed differently.
But they are obviously opinions and everyone has their own.

[2021-10-05 10:54] nyejon commented on #211
@RASADSA should I open a separate issue for the Redis install issue then?

That was also not addressed as pointed out by @pierluigilenoci in https://github.com/RasaHQ/rasa-x-helm/issues/211#issuecomment-880736816

[2021-10-05 13:12] tczekajlo commented on #207
Here are my thoughts 😄 :

1. For now, a way to add extra configuration is disabling rabbitmq (`rabbitmq.enabled=false`) and add Kafka section to `rasa.additionalEndpoints`

[code]

2. @melindaloubser1 is right, rabbitmq got his own section because it's a component included in the helm chart.
3. Following the helm good practices, adding `kafka` section will imply that a Kafka helm chart is included

[2021-10-05 14:30] desmarchris commented on #207
ok fine ;) can we add it to the documentation?

[2021-10-05 16:36] melindaloubser1 opened #237 "Only start a worker pod when required to conserve resources"
rasa-worker is one of the more resource-intensive pods in a rasa-x deployment, but it doesn't do anything most of the time. It is only required when a request is sent to train a model, or to run cross-validation.

The suggestion is to make training/cross-validation requests trigger the starting of a rasa-worker pod, potentially as a job, not a deployment, and have the pod/job stop when training or

[2021-10-15 16:31] rgstephens opened #238 "Add support for postgres `sslmode:` setting in tracker store configmap"
Add support for SSLMODE setting to the tracker store config map as described by this forum [post](https://forum.rasa.com/t/using-external-database-with-sslmode-required/45825/3?u=stephens).

Location in config map is [here](https://github.com/RasaHQ/rasa-x-helm/blob/main/charts/rasa-x/templates/rasa-config-files-configmap.yaml#L29).

[2021-11-02 15:19] #238 closed

[2021-11-17 16:40] pierluigilenoci opened #246 "Ingress incompatible with the new version of NGINX ingress controller"
The rasa-x ingress does not work with the new [NGINX Ingress controller v1.0.5](https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.0.5) release due to a [new security feature](https://github.com/kubernetes/ingress-nginx/pull/7874) introduced for a [really serious security issue](https://nvd.nist.gov/vuln/detail/CVE-2021-25742).

This new sanitization process blocks all inputs t

[2021-11-17 16:54] nyejon opened #247 "Redis password not provided when external redis used"
@RASADSA should I open a separate issue for the Redis install issue then?

That was also not addressed as pointed out by @pierluigilenoci in https://github.com/RasaHQ/rasa-x-helm/issues/211#issuecomment-880736816

_Originally posted by @nyejon in https://github.com/RasaHQ/rasa-x-helm/issues/211#issuecomment-934297146_

[2021-11-17 16:56] nyejon commented on #247
Figured this must have gotten lost in the comments

[2021-11-19 07:00] sara-tagger commented on #247
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-11-19 07:00] sara-tagger commented on #246
Thanks for the issue, @JustinaPetr will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-11-24 11:20] tczekajlo opened #249 "Don't install packages for init-db container"
Currently, the init-db container installs `curl` and `jq` packages in-flight.

This part should be removed and replaced with an image that included those packages or replaced with a different solution that does not require installing any external components.

[2021-11-26 09:20] amardeep2006 commented on #249
+1
This is issue in enterprise environments where containers do not have access to Internet. Also containers must be immutable.

[2021-11-26 09:29] tczekajlo commented on #204
it was added in this PR - https://github.com/RasaHQ/rasa-x-helm/pull/248

[2021-11-26 09:29] #204 closed

[2021-11-30 08:03] #249 closed

[2021-11-30 09:49] #12 closed

[2021-11-30 09:53] RASADSA commented on #195
@ loomsen is this issue still present to you with the current release.
i couldnt replicated the problem.

[2021-11-30 09:54] RASADSA commented on #191
this seems to be and openshift related issue - will close the issue

[2021-11-30 09:54] #191 closed

[2021-11-30 09:56] RASADSA commented on #181
will close this issues - it diverts from the default values of the helm chart.

[2021-11-30 09:56] #181 closed

[2021-11-30 09:59] RASADSA commented on #170
this is an error related your local minikube PVC setup which doesnt seem to be working - not related to the rasa x helm chart

[2021-11-30 09:59] #170 closed

[2021-11-30 10:09] RASADSA commented on #35
this is bitnami related - since we include it as a subchart its not fixiable on our side.
closing the issue

[2021-11-30 10:09] #35 closed

[2021-11-30 12:04] loomsen commented on #195
Hi Daniel,

I'm actually not working in the project anymore, so I can't tell. Guess you
can close it.

Thanks!

[2021-12-06 07:48] tmbo commented on #207
I'll update the issue according to the discussion:
* we won't add native support for kafka
* we will add documentation to document how to enable kafka

[2021-12-06 08:26] tmbo commented on #145
@akelad do you know if any customer is currently needing this? otherwise I'd move it to future

[2021-12-06 08:37] tmbo commented on #50
I don't have enough detail here to judge if we should do this, @tczekajlo can you chime in?

[2021-12-06 09:58] #195 closed

[2021-12-06 13:08] tczekajlo commented on #50
I think we should still do this, but looking in the future probably it'll make sense to handle it during refactoring.

[2021-12-06 13:09] #50 closed

[2021-12-06 13:47] euklein opened #253 "Ingress: deprecated beta API removed in K8s 1.22"
The Ingress beta API was removed in K8s 1.22 (https://kubernetes.io/blog/2021/08/04/kubernetes-1-22-release-announcement/#removal-of-several-deprecated-beta-apis). Should be probably updated, see https://github.com/RasaHQ/rasa-x-helm/blob/4b62ed6b0815136196dcbf7bf8f9a640e15d5047/charts/rasa-x/templates/ingress.yaml#L9

Using server version 1.22.4 of K8s, the installation of Rasa X was failing with

[2021-12-09 19:36] michaelsteigman opened #254 "OpenShift Installation Issues"
I have an OpenShift (Azure) 4.6 cluster on which I have been trying to install RasaX. I have a fair amount of experience with OpenShift, both building and deploying my own projects and bootstrapping open source projects.

I followed [these](https://rasa.com/docs/rasa-x/installation-and-setup/install/helm-chart) instructions. After much reading, digging around and tinkering, I have arrived at what

[2021-12-10 07:00] sara-tagger commented on #254
Thanks for the issue, @melindaloubser1 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-12-10 09:56] melindaloubser1 commented on #254
Thank you for the comprehensive write up @michaelsteigman!
@virtualroot Seems like some of these pain points  could be alleviated with adjustments to the charts and/or better documentation.

[2021-12-13 09:39] tmbo commented on #253
@virtualroot naive me thinks this is a small change - what do you think?

[2021-12-13 09:39] tmbo commented on #145
will move to future.

[2021-12-20 09:51] tmbo commented on #254
Thanks a lot for all these suggestions, this is incredibly helpful!

@virtualroot how much effort is it to make the necessary documentation and chart changes?

[2021-12-31 03:12] virtualroot commented on #253
@euklein I'm unable to reproduce the error.

I tried it with Rasa X Chart v2.11.0 on Kubernetes v1.22.3 with Helm v3.7.2.
`helm template` output picks the right API version.

[code]

NGINX controller logs seems fine and `curl --resolve 'rasa-x.example.com:80:127.0.0.1' rasa-x.example.com` works too.
[code]

From what I see in the documentation, `.Capabilities.KubeVersion.Version` is available in [

[2022-01-03 08:24] euklein commented on #253
@virtualroot Yes, this error was strange. I only got it when the server version of K8s was 1.22.4. The 4 for the minor version is important. With 1.22.3 the installation worked for me too. I was using Helm 3.7 in both cases.

[2022-01-04 16:48] Archish27 commented on #209
@wochinge @jupyterjazz Should I make changes on the following?

[2022-01-04 16:51] wochinge commented on #209
I think someone from infra (e.g. @RASADSA ) can asses this better.

[2022-01-05 10:35] pierluigilenoci commented on #246
@tczekajlo @RASADSA @JustinaPetr any news about this?

[2022-01-05 10:37] pierluigilenoci commented on #247
@RASADSA @erohmensing any news about this?

[2022-01-05 17:38] michaelsteigman commented on #254
Just circling back around to check on this. Thanks for the responses @sara-tagger , @melindaloubser1  and @tmbo.

Also wanted to link to #154 which I stumbled on shortly after creating the issue. I probably didn't find it in my initial searches because OpenShift is written with a hyphen. The install instructions instruct OpenShift users to set `fsGroup` to null but this setting, either on the comm

[2022-01-10 13:19] #246 closed

[2022-01-10 13:35] virtualroot commented on #246
@pierluigilenoci We took out the annotation in v3.1.0.

[2022-01-10 13:52] tczekajlo commented on #164
I'm closing the issue since we recommended to use a dedicated helm chart for Rasa OSS - https://github.com/RasaHQ/helm-charts/tree/main/charts/rasa

[2022-01-10 13:52] #164 closed

[2022-01-11 08:14] tczekajlo opened #258 "Update the chart dependencies"
Update the helm chart dependencies for rabbitMQ, PostgreSQL, and Redis to the latest possible.

[2022-01-11 15:28] virtualroot commented on #253
@euklein I tried again with v1.22.4 and I can't replicate the issue.

`minikube start --disk-size='80000mb' --driver='hyperkit' --vm=true --kubernetes-version=v1.22.4`

Do you have a custom values.yml file? if so, can you share it?

[2022-01-12 11:55] pierluigilenoci opened #263 "Add support to the new IngressClassName spec"
Since K8s 1.18 the annotation `kubernetes.io/ingress.class` is deprecated.
It would be very useful to have support for the new `IngressClassName` spec inside the chart.

Ref: https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#deprecating-the-ingress-class-annotation

[2022-01-12 13:00] sara-tagger commented on #263
Thanks for raising this issue, @pythenry will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2022-01-18 10:28] virtualroot commented on #253
Since I haven't been able to reproduce this issue, I'm closing it.

@euklein ping me over Slack if you still see it, lets e-meet and try to solve it together.

[2022-01-18 10:28] #253 closed

[2022-01-19 13:30] #258 closed

[2022-01-19 14:05] #263 closed

[2022-01-19 14:09] virtualroot commented on #154
In #259, we added an example [values file](https://github.com/RasaHQ/rasa-x-helm/blob/main/examples/openshift-values.yaml) that addresses this issue.

We updated the [Rasa X docs](https://rasa.com/docs/rasa-x/installation-and-setup/install/helm-chart-installation/installation#6-deploy-rasa-x) accordingly.

[2022-01-19 14:09] #154 closed

[2022-01-24 11:50] tczekajlo commented on #254
The chart dependencies + docs were updated in the https://github.com/RasaHQ/rasa-x-helm/pull/259.

[2022-01-24 11:50] #254 closed

[2022-01-24 14:45] pierluigilenoci commented on #247
@RASADSA @erohmensing any news about this?

[2022-01-24 14:45] pierluigilenoci commented on #247
Maybe @virtualroot?

[2022-01-24 17:35] virtualroot commented on #88
Fixed #89

[2022-01-24 17:35] #88 closed

[2022-01-25 08:02] tczekajlo commented on #143
Support for setting service type for Rasa X was added in the 4.2 version. The rasa production deployment is deprecated and not supported anymore, please use the dedicated chart for it (https://helm.rasa.com).

[2022-01-25 08:02] #143 closed

[2022-01-28 09:54] pierluigilenoci opened #269 "[FR] Allow the Chart to create extra manifest"
Sometimes, accessory to the installation there may be manifest to be installed (for example a SecretProviderClass, NetworkPolicies, PVC).

It would be nice to be able to do this directly via the Chart using the approach that ArgoCD also uses.

Ref: https://github.com/argoproj/argo-helm/blob/cf57a71a154a1a8a19f5f9d3980d60eb3efd80c8/charts/argo-cd/values.yaml#L62-L87

[2022-01-28 11:59] pierluigilenoci opened #270 "Add support to the new IngressClassName spec to Rasa X Ingress"
Follow up ticket (#263)

`ingressClassName` is still missing inside the RasaX ingress.

Ref: https://github.com/RasaHQ/rasa-x-helm/blob/main/charts/rasa-x/templates/rasa-x-ingress.yaml

[2022-01-28 11:59] pierluigilenoci commented on #263
@virtualroot I got to check out the update just today.

Thanks for the work but there is still a small step away. The ingress for RasaX is left out.
Ref: https://github.com/RasaHQ/rasa-x-helm/blob/main/charts/rasa-x/templates/rasa-x-ingress.yaml

I created a new ticket for that #270

[2022-01-28 13:00] sara-tagger commented on #270
Thanks for raising this issue, @b-quachtran will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2022-01-28 13:00] sara-tagger commented on #269
Thanks for raising this issue, @joejuzl will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2022-01-28 16:45] pierluigilenoci opened #271 "[FR] Upgrade the chart to use Rasa v3.*"
It would be great if you updated the chart to be able to use Rasa v3. ❤️

[2022-01-29 10:30] tczekajlo commented on #271
Rasa X is not compatible with Rasa OSS 3.x - https://rasa.com/docs/rasa-x/changelog/compatibility-matrix/

[2022-01-29 10:30] #271 closed

[2022-02-07 08:59] pierluigilenoci commented on #271
@tczekajlo and then make it compatible. 🚀

[2022-02-09 13:17] pierluigilenoci commented on #269
@joejuzl @virtualroot any news?

[2022-02-09 13:50] virtualroot commented on #269
@pierluigilenoci Thanks for bringing this idea to us.

We have decided against implementing this feature in the Helm chart.
For applying additional manifest, our suggestion is to use `helmfile` [hooks](https://github.com/roboll/helmfile#hooks) instead.

[2022-02-09 13:50] #269 closed

[2022-02-10 08:38] pierluigilenoci commented on #269
@virtualroot I accept your refusal although I would prefer to have a technically detailed answer on the reasons for the refusal.

The use of a third party tool such as helmfile is out of the question as it is not supported by the GitOps tool we use (FluxCD, tool incubated by the CNCF) and is an unnecessary complication.

The requested feature did not involve any complications and would have been v

[2022-02-14 11:57] andreoid commented on #207
Open issue has been moved to JIRA: https://rasahq.atlassian.net/browse/INFRA-7

[2022-02-16 11:08] andreoid commented on #109
Moved to JIRA: INFRA-25

[2022-02-16 11:08] #109 closed

[2022-02-16 11:21] andreoid commented on #38
This was fixed 12+ months back.

We've decided not to implement the other suggestions, due to duplication.

[2022-02-16 11:21] #38 closed

[2022-02-16 16:09] andreoid commented on #145
Issue moved to JIRA: INFRA-32

[2022-02-16 16:09] #145 closed

[2022-03-09 12:01] pierluigilenoci opened #278 "[FR] Helm Chart improvements: priorityClassName"
It would be very helpful to have the ability to define `priorityClassName` for the deployments when installed with the chart.

Judging by the templates, this is currently not possible.

Ref:
* https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/

[2022-03-09 18:35] ryanezc opened #279 "PV not created"
Hi,
When I deploy rasa using kubernetes and helm, it does not create PV so there are pods that get stuck in the pending state.

NAME READY STATUS RESTARTS AGE
rasa-x-app-5b95d5f5bf-f4xhh 0/1 Running 0 14s
rasa-x-db-migration-service-0 0/1 Running 0 14s
rasa-x-duckling-66676d4f65-z7xjm 0/1 Running 0 14s
**rasa-x-event-service-67df4b87c6-hqq7g 0/1 Init:0/1 0 14s**
rasa-x-nginx-7f7f7fbcf9fc-985gv 0/1

[2022-03-09 21:48] #247 closed

[2022-03-10 07:00] sara-tagger commented on #279
Thanks for raising this issue, @euklein will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2022-03-10 13:55] RASADSA commented on #279
Hello @ryanezc
assuming you have a default Storage class set in your k8s cluster all should work.
check the events in the rasa namespace for errors from the k8s deployment
`kubectl -n <rasa namespace> get events`

[2022-03-10 14:12] RASADSA commented on #278
@pierluigilenoci can you please elaborate in what scenario this would be a good measure ?

kubernetes has already via Node selectors and tagging a good way to make sure important pods / deployments are fenced of from other critical parts of the k8s ecosystem

changing priorityClassName of the rasa x helmchart would introduce a way to kill on a k8s node system critical pods via the rasa helmchart.

[2022-03-10 15:24] ryanezc commented on #279
Hello @RASADSA

Yes, I have a default sc:
NAME                PROVISIONER                    RECLAIMPOLICY   VOLUMEBINDINGMODE      ALLOWVOLUMEEXPANSION   AGE
local-storage (default)   kubernetes.io/no-provisioner   Delete          Immediate              false                         20h

and kubectl --namespace gwydion-andy-rasa    get events :
LAST SEEN   TYPE      REASON               OBJECT

[2022-03-10 16:10] pierluigilenoci commented on #278
@RASADSA the `priorityClass` has nothing to do with the choice of nodes.
As it has nothing to do with security.
It is to ensure that critical pods have priority in scheduling.

All pods have a priority in each case within the cluster.

Kubernetes has two priority classes by default which are used to prioritize critical pods.

`priorityClass` allows you to define additional levels of priority withi

[2022-03-11 09:46] RASADSA commented on #279
Hello @ryanezc

your K8S CSI has no provisioner configured it seems.

`3m1s Warning ProvisioningFailed persistentvolumeclaim/data-rasa-x-postgresql-0 no volume plugin matched name: kubernetes.io/no-provisioner`

i can only point you in some directions since i have not enough information on what K8S you are using and how its operated.

if you are running on a single node cluster k8s you can use the

[2022-03-11 10:42] RASADSA commented on #278
@pierluigilenoci

FR is denied out of multiple reasons:

- PriorityClass & priorityClassName are not needed to run a stable K8S deployment of RASA X at this point.
- There are other K8S features that work well like nodeSelector to make sure that the K8S deployment is running healthy inside a cluster.

Workaround:

afaik you use flux
kustomize patch will make your FR possible

https://fluxcd.io/doc

[2022-03-11 10:42] #278 closed

[2022-03-11 12:08] pierluigilenoci commented on #278
@RASADSA as usual, I accept it but I do not agree with the reasons which I find rather spurious.
Or affected by logical fallacies.

Maybe I wasn't clear enough in my previous answer and so I try to be again.
`nodeSelector` and` priorityClassName` are different things used for different purposes.
Although it is clear that you can also do without it but I think it was an interesting and harmless imp

[2022-03-11 13:00] RASADSA commented on #278
@pierluigilenoci

Or affected by logical fallacies.
Maybe I wasn't clear enough in my previous answer and so I try to be again.

👉 https://opensource.guide/best-practices/#keep-the-conversation-friendly

basically you explained it yourself why this is a bad idea.
But lets do a full circle on that:

exactly.

real world k8s production clusters scenario with k8s

A team decided to use this the prior

[2022-03-11 13:16] #279 closed

[2022-03-16 10:23] pierluigilenoci commented on #278
@RASADSA

Dear Daniel,
I'm sorry to have to inform you that your example is not a valid argument.

I try to explain the coarser reasons:

* The `priorityClass` exist in Kubernetes.
Whether or not you put the ability to configure them in your chart, any team can still use them and create the problem you tell.
* Adding the ability to configure a `priorityClassName` does not mean that all Rasa users

[2022-03-21 16:11] HotThoughts commented on #178
`v2.0` of rasa-x-helm chart supports external Rasa OSS deployment. If you use a dedicated chart for Rasa instead of being part of Rasa X, you can [config the endpoint](https://github.com/RasaHQ/helm-charts/blob/9be1bf6d9ef72436c354b533489d4c53a4209a96/charts/rasa/values.yaml#L68) for model server.

[2022-03-30 13:51] pierluigilenoci commented on #211
@RASADSA so... in the end, it looks like I was right. 😉

Ref:
https://github.com/RasaHQ/rasa-x-helm/pull/275
https://github.com/RasaHQ/rasa-x-helm/pull/282

[2022-04-01 09:59] pierluigilenoci opened #285 "warning: cannot overwrite table with non table for nodeCIDR (map[])"
Hello,
inside the values file, there is an error that causes a warning during installation.

[code]

The warning is happening because `nodeCIDR` is defined as a **dict** `{}` in the `values.yaml`:
https://github.com/RasaHQ/rasa-x-helm/blob/main/charts/rasa-x/values.yaml#L855

And you are trying to use it as **list** `[]`:
https://github.com/RasaHQ/rasa-x-helm/blob/main/charts/rasa-x/values.yaml#L8

[2022-04-01 12:00] sara-tagger commented on #285
Thanks for raising this issue, @b-quachtran will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2022-04-12 08:12] RASADSA commented on #285
https://github.com/RasaHQ/rasa-x-helm/pull/286

[2022-04-19 15:28] nyejon opened #289 "Cannot upload model to rasa x 1.1"
[code]

[2022-04-20 05:39] willymwai commented on #289
Was facing a similar problem, I solved it by enabling `rasaProduction` in the helm chart. It's `false` by default. When enabled, it adds a production url to `environments.yml`

[2022-04-20 06:00] sara-tagger commented on #289
Thanks for raising this issue, @hsm207 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2022-04-20 06:49] nyejon commented on #289
Why was this closed?

https://github.com/RasaHQ/rasa-x-helm/blob/68b36820918c26074fe662491150e821baf64d20/charts/rasa-x/values.yaml#L223-L235

States that we should be able to disable the rasa production deployment if we use an external server. I have populated the external server url, and set it to true.

I am trying to use the rasa-oss chart to deploy the models as suggested, but so much seems b

[2022-04-20 06:50] nyejon commented on #289
From the helm chart:

# rasa: Settings common for all Rasa containers
# deprecated: the Rasa OSS deployment is deprecated and will be removed in the feature
# from this chart.
# It's recommended to use the rasa helm chart instead.
# see: https://github.com/RasaHQ/helm-charts/tree/main/charts/rasa#quick-start

[2022-04-20 07:09] hsm207 commented on #289
@virtualroot could you please look into this?

[2022-04-20 13:17] virtualroot commented on #289
@nyejon Rasa Enterprise 1.1 is no longer compatible with Rasa Open Source 2.
Is it possible the model was made with Rasa 2.x?

[2022-04-20 13:19] nyejon commented on #289
No, I am trying to upload a freshly trained model with rasa 3.0.9.

[2022-04-20 13:21] nyejon commented on #289
![image](https://user-images.githubusercontent.com/17871768/164239793-b49c2553-1214-48d9-9cbf-6b012d11e72a.png)

Nothing is populated in the environments as well.

[2022-04-20 14:13] tczekajlo commented on #289
No, using Rasa X as a config endpoint for Rasa OSS makes that Rasa OSS knows about Tracker Store, Lock Store, and so on, but it doesn't mean that Rasa X knows about Rasa OSS.

External deployments for the `production` or `worker` environment have to be defined in the values for Rasa X.

Example:

[code]

[2022-04-20 14:28] nyejon commented on #289
I have all of that configured. How would I let a worker know which tracker database to use?

I can now get the OSS deployment to try and load a model I uploaded and was trained with 3.0.9.
This results in the following error:

[code]

[2022-04-20 15:37] nyejon opened #290 "rasa-x-redis secret"
Hi,

Can you please enable redis to use a custom secret name like rabbit?

[code]

At the moment it is forced to use a secret with the name: rasa-x-redis

Thanks

[2022-04-21 06:00] sara-tagger commented on #290
Thanks for raising this issue, @kedz will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2022-04-21 08:20] nyejon commented on #290
I think the .auth. is missing here:

https://github.com/RasaHQ/rasa-x-helm/blob/68b36820918c26074fe662491150e821baf64d20/charts/rasa-x/templates/_redis.tpl#L30-L35

[2022-04-21 10:31] #178 closed

[2022-04-21 10:33] #237 closed

[2022-04-22 13:44] nyejon opened #291 "Fix network policies to use the names defined in values file"
https://github.com/RasaHQ/rasa-x-helm/blob/68b36820918c26074fe662491150e821baf64d20/charts/rasa-x/templates/network-policy.yaml#L224

This should apply to all network policies. It is done in some places but really inconsistent.

See: https://github.com/RasaHQ/helm-charts/issues/75 for the related issue in the rasa helm chart.

[2022-04-25 06:00] sara-tagger commented on #291
Thanks for raising this issue, @kedz will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2022-04-25 11:44] plattenschieber commented on #237
Why did you close this issue @virtualroot? This is still an issue on our and potentially many more Rasa X users site.

Either unnecessary resources are blocked or human intervention is required to spin the worker up and down to not waste GPU resources. Is there any effort planned?

[2022-04-26 13:22] nyejon opened #292 "Add podAnnotations to each pod like the rasa-oss chart"
Hi

Please add the ability to add pod annotations like the rasa chart here:
https://github.com/RasaHQ/helm-charts/blob/e7e72f4a3333cb42430c0f49d001cb7d03fdaf74/charts/rasa/values.yaml#L243

Thank you

[2022-04-26 13:24] nyejon commented on #291
The rasa-oss chart also uses the name selector, but the rasa-x chart uses the component selector.

This just makes it confusing to use.

[2022-04-27 06:00] sara-tagger commented on #292
Thanks for the issue, @camattin will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2022-04-27 06:20] nyejon commented on #290
You can get around this by putting the existingSecret and existingSecretPasswordKey in the values file after the redis key.

[2022-04-28 08:08] Bourhano opened #294 "Typo"
should be 'future'

https://github.com/RasaHQ/rasa-x-helm/blob/68b36820918c26074fe662491150e821baf64d20/charts/rasa-x/values.yaml#L127

[2022-05-03 07:08] andreasmartin opened #295 "proxy_pass directive missing / in _rasax.nginx.conf.tpl"
I'm not 100% sure, but isn't it necessary to add a slash (`/`) at the end of the following `proxy_pass` directive?

https://github.com/RasaHQ/rasa-x-helm/blob/b2f698036e9d5d23ea5646d16ac74f6ab8c4a8ba/charts/rasa-x/templates/_rasax.nginx.conf.tpl#L23

My proposal would be: `proxy_pass {{ include "rasa.production.url" .}}/;`

[2022-05-03 12:00] sara-tagger commented on #295
Thanks for the issue, @JustinaPetr will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2022-06-01 11:49] virtualroot commented on #237
Hello @plattenschieber

I closed this issue because this isn't the right place for tracking such product requests.

There is no planned work for it, but we understand the need and it's on our radar.

[2022-07-18 13:26] zoobab commented on #254
Can you share your yamls with the bitnami/nginx?

RasaX claim to run on OpenShift, I have doubts about that.

[2022-09-15 12:02] BlueCog opened #307 "duckling container won't start"
**Context**:

Openshift `v4.9`
Rasa-x Helm Chart `v4.5.6`
Duckling Image: `rasa/duckling:0.2.0.2`

Due security constraints of OpenShift is the global `securityContext` set to `false`

The duckling container throws the following error in the log:

`duckling-example-exe: log: createDirectory: permission denied (Permission denied)`

This has probably something to do with the context of openshift. Wi

[2022-09-16 08:17] BlueCog commented on #290
Yes i had the same issue just now!

My solution for now is:

[code]

so `redis.auth.existingSecret` for setting the secret for Redis
and `redis.existingSecret` is the workaround so that the templating picks up the right (custom) secret name

[2022-11-08 10:30] zoobab opened #316 "Example of additionalDeploymentLabels: {} ?"
Hi,

Could you provide some examples in the comments of values.yaml for additionalDeploymentLabels: {} ?

Like "mylabel1": "one"

I tried to pass the labels in there, but I could not make it work.

Best,

[2022-11-21 01:43] anatanick commented on #64
@soloman817 hello,I meet the same error as you did,and I have changed the password only with letters,but the error still exists.You have mentioned remove   image tag,you mean you remove what image,and in what file?